@import '../variables/variables.scss';

.textarea {
    margin: 1.5em 0;
    margin-left: 5rem;
    label{
        position: relative;
        font-size: 1.5em;
        textarea{
            box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
            background-color: rgb(255, 255, 250);
            padding: 2.7em;
            border-radius: 5px;
            width: 250px;
            outline: none;
            font-size: .8rem;
            border: 2px solid transparent;
            resize: none;
            color: $mov;
        }
        span {
            position: absolute;
            top: -170%;
            left: 12px;
            transform: translate(0, -50%);
            color: $blue-light;
            transition: all 0.3s ease;
            font-weight: 300;
            font-size: 0.85rem;
        }
        textarea:not(:placeholder-shown)+span {
            color: transparent;
            transform: translate3d(0, -6p, 0) scale(.5);
        }

        textarea:focus {
            border: 2px solid $red;
        }

        textarea:focus+span {
            top: -79px;
            font-size: 10px;
            background: linear-gradient(to right, $blue-light, $red);
            border-radius: 4px;
            padding: 0 5px;
            color: #fff;
        }
    }
}

@include for-desktop {
    .textarea {
        label {
            textarea {
                width: 400px;
            }
        }
    }
}