@import '../variables/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.table{
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round';
    align-items: center;
    justify-content: center;
    width: 900px;
    h2{
        font-family: 'Varela Round';
        align-self: center;
    }
}