@import '../../components/variables/variables.scss';

.admin-layout {
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .admin-layout_characters{
        margin-top: 6.8rem;
        display: flex;
        justify-content: space-around;
        .admin-layout_add{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            .admin-layout_add_btn {
                height: 50px;
                width: 50px;
                background: $red;
                display: flex;
                justify-content: center;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: $red;
                svg{
                    margin-top: .8em;
                    width: 20px;
                    height: 20px;
                    color: $blue-light;
                }
            }
        }
        .admin-layout_edit{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;     
            cursor: pointer;
            .admin-layout_edit_btn { 
                background-color: $red;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: $red;
                svg {                
                    margin-top: .85em;
                    width: 20px;
                    height: 20px;
                    path {
                        stroke: $blue-light;
                    }
                }
            }
        }
    }
    .admin-layout_shows{
        .admin-layout_add_form{
            display: none;
            margin-left: -3rem;
        }
        .admin-layout_edit_table {
            display: block;
            margin-top: 3rem;
            max-width: 30em;
        }
    }
}