@import '../../components/variables/variables.scss';
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.admin-login{
    height: 363px;
    display: flex;
    flex-direction: column;
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    p{
        color: #fe0302;
        margin-left: 5em;
        font-family: 'Varela round';
    }
    div{
        .submit-btn {
            display: flex;
            flex-direction: column;
            margin-left: 5rem;
          
            button {
              font-family: Varela round;
              margin: 1em 0;
              font-size:14px;
              padding: 1.2em;
              border-radius: 5px;
              border: none;
              width: 250px;
              text-transform: uppercase;
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
              color: #fff;
              cursor: pointer;
              outline: none;
              background: linear-gradient(to right, #000, #fe0302);
              display: flex;
              justify-content: center;
              align-items: center;
            }
          
            button:hover {
              box-shadow: none;
              background: linear-gradient(to left, #000, #fe0302);
              transition: all .3s ease;
            }
          }
          @include for-desktop {
            .submit-btn {
              button {
                width: 500px;
              }
            }
          }
    }
}